<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=Xin.AQS;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="EmptyValueString" value="—"/>
  </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>