<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=EnvDataPublish_zhuhai;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="EmptyValueString" value="—"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISyncNationalAQIPublishDataService" maxBufferPoolSize="205536000" maxBufferSize="205536000" maxReceivedMessageSize="205536000" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://219.131.199.90:8340/SyncNationalAQIPublishDataService/SyncNationalAQIPublishDataService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISyncNationalAQIPublishDataService"
        contract="SyncNationalAQIPublishDataService.ISyncNationalAQIPublishDataService"
        name="BasicHttpBinding_ISyncNationalAQIPublishDataService" />
    </client>
  </system.serviceModel>
</configuration>